
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.landing-page {
  display: none;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

input, button {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#logoutButton {
  margin-top: 20px;
}
